
.canvasDiv {
    border: 1px dashed #c89191;
}

#imgCutShow {
    position: absolute;
    display: none;
    border: 1px dashed #c89191;
    margin: 0px 410px;
}

.tools {
    position: absolute;
    clear: both;
    margin-top: 410px;
}
#drawPanel,#canvas,#imgCut{
    width: 1000px;
    height: 1000px;
    position: absolute;

}
#canvas{
    z-index: 2;

}

#imgCut{
    z-index: 1;
}
